a:link {  color: #0098D3; text-decoration: underline}
a:visited {  color: #0098D3; text-decoration: underline}
a:hover {  color: #333333; text-decoration: underline}
a.designby:link {  color: #999999; text-decoration: none}
a.designby:visited {  color: #999999; text-decoration: none}
a.designby:hover {  color: #333333; text-decoration: underline}
a.menu:link {  color: #BFE5F4; text-decoration: underline}
a.menu:visited {  color: #BFE5F4; text-decoration: underline}
a.menu:hover {  color: #FFFFFF; text-decoration: none}
.logo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 30px; font-weight: bold; color: #BFE5F4}
.menu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #BFE5F4}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666}
.select{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666}
.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #0098D3}
