<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:flex="http://www.springframework.org/schema/flex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/flex
           http://www.springframework.org/schema/flex/spring-flex-1.0.xsd"
	default-lazy-init="false">


	<!-- Add new DAOs here -->

	<!--
		bean id="exampleDao" class="tr.com.srdc.icardea.platform.ExampleDao">
		<property name="sessionFactory" ref="sessionFactory"/> </bean
	-->
	<bean id="personDao"
		class="tr.com.srdc.icardea.platform.dao.hibernate.PersonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="contactDao"
		class="tr.com.srdc.icardea.platform.dao.hibernate.ContactDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="organizationDao"
		class="tr.com.srdc.icardea.platform.dao.hibernate.OrganizationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Add new Business here -->

	<!--
		bean id="examplesService"
		class="tr.com.srdc.icardea.platform.ExampleService"> <property
		name="exampleDao" ref="exampleDao"></property> </bean
	-->
	<bean id="userService" class="tr.com.srdc.icardea.platform.service.UserServiceImpl">
		<property name="personDao" ref="personDao"></property>
		<property name="contactDao" ref="contactDao"></property>
		<property name="organizationDao" ref="organizationDao"></property>
	</bean>

	<bean id="emailService" class="tr.com.srdc.icardea.platform.service.EmailServiceImpl">
		<property name="mailSender" ref="mailSender" />
		<property name="velocityEngine" ref="velocityEngine" />
	</bean>
	
	<bean id="careplanService" class="tr.com.srdc.icardea.platform.service.dummy.DummyCareplanRepositoryServiceImpl">
	</bean>
	
	<bean id="subscriptionService" class="tr.com.srdc.icardea.platform.service.DummyPatientSubscriptionServiceImp">
		
	</bean>
	<bean id="engineService" class="tr.com.srdc.icardea.careplanengine.agents.afAgent.EngineInterface">
		
	</bean>
	<bean id="loginService" class="tr.com.srdc.icardea.platform.service.login.LoginServiceImpl">
	</bean>
	
<!-- 	<bean class="tr.com.srdc.icardea.platform.service.login.LoginControllerImpl" /> -->

	<!-- Add new Managers here -->

	<!-- Add new mail  here -->

	<bean id="mailSender" class="tr.com.srdc.icardea.platform.mail.MailSenderImpl">
		<property name="host" value="195.142.107.246" />
		<property name="from" value="erdem@srdc.com.tr" />
	</bean>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>
</beans>